body {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
}

div {
  margin: 0;
}

h1 {
  color: #005555;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-style: italic;
  font-size: 5rem;
  padding-bottom: 10px;
}

h2 {
  color: #005555;
  margin-top: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5rem;
  padding: 10px 0 10px 0;
}

h3 {
  color: #069A8E;
  font-family: 'Cormorant Garamond', serif;
}

p {
  line-height: 2;
  letter-spacing: 2px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

a {
  color: #EEEEEE;
  margin: 10px 20px;
  font-style: oblique;
  text-decoration: none;
}

a:hover {
  color: #069A8E;
}

.skill-row {
  width: 50%;
  display: inline-block;
  text-align: left;
}
}

.totoboy1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.totoboy2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin-top: 100px;
}

.bottom-container {
  background-color: #005555;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.middle-image {
  position: absolute;
  left: 300px;
}

.top-image {
  position: absolute;
  right: 350px;
  top: 40px;
  padding-bottom: 10px;
}

hr {
  border-style: dotted;
  border-top: none;
  border-width: thick;
  width: 7%;
  border-color: grey;
  margin: 100px auto;
}

.CM {
  width: 60%;
  margin: 40px auto;
}

.btn {
  background: #B7E5DD;
  background-image: -webkit-linear-gradient(top, #B7E5DD, #00FFC6);
  background-image: -moz-linear-gradient(top, #B7E5DD, #00FFC6);
  background-image: -ms-linear-gradient(top, #B7E5DD, #00FFC6);
  background-image: -o-linear-gradient(top, #B7E5DD, #00FFC6);
  background-image: linear-gradient(to bottom, #B7E5DD, #00FFC6);
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: 'Cormorant Garamond', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F0A500;
  text-decoration: none;
}

.copyright {
  color: #EEEEEE;
  font-size: 1rem;
  padding-top: 30px;
  padding-bottom: 0px;
}
